.field {
    margin: 24px 0;
}

.field__label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.field__input {
    background-color: white;
    box-shadow: 10px 10px 30px #c7c7c7;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}